<div class="container">

  <footer class="footer">

    <small>
      Copyright © 2016 oquenosmove.com
    </small>

    <nav>

      <ul>
        <li><%= link_to "Sobre", about_path %></li>
      </ul>

    </nav>

  </footer>

</div>